.home {
  height: calc(100vh - 57px);
  flex-direction: column;
  padding-bottom: 1.5rem;

  &__illustration {
    img {
      width: 70%;
      aspect-ratio: 1/1;
    }
  }

  &__intro {
    flex-direction: column;
    height: 100%;

    &-desc {
      .title {
        margin-bottom: 0.875rem;
        font-size: 1.75rem;
        text-align: center;

        @include breakpoint-up(smPhone) {
          font-size: 2rem;
        }
      }
      .desc {
        color: $light-color;
        font-size: 0.875rem;
        text-align: center;

        @include breakpoint-up(smPhone) {
          font-size: 1rem;
        }
      }
    }

    &-login {
      width: 100%;

      .register {
        display: block;
        margin-bottom: 0.875rem;
        text-align: center;
        color: $light-color;
        font-size: 0.875rem;

        .signup {
          color: $white-color;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .login {
        display: block;
        padding: 0.875rem 0;
      }
    }
  }
}
